
{%extends 'layout.html'%}
{% block title %}
    Homepage
{% endblock %}
{% block main %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>


<div class = "bg_cont">
	<div class="overlay">
	</div>
		
	<div class="wrap">
		<div class="fleft">	
		</div>
		<div class ="fright">
		<div style="text-align: center;">
			<h1 style="font-size:20vh;">Ifedayo</h1>
			<h1 style="font-size:20vh;"> Famojuro</h1>
			<div id="typed-strings" >
			<span>Developer</span>
		    <p>Founder</p>
		    <p>Goofer</p>
			</div>
			<span id="typed" style="white-space:pre;font-family:code_font;font-size:19vh;padding-top:10vh;"></span>
		</div>
		</div>
	</div>

	<img class="bg" src="{{url_for('static', filename='img/photo-ratio-resize.jpg')}}">
</div>

<script type="text/javascript">
	var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    typeSpeed: 60,
    backSpeed: 60,
    backDelay: 50,
    startDelay: 100,
    loop: true
  });
</script>



 {% endblock %}