.bg_cont{
  width: 100vw;
  height:100vh;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.bg{
  min-width:100%;
  max-height:auto;
  z-index: 0;
}
.bg_cont .overlay {
    opacity: 0.3;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 5;
    background-color: #000000;
    align-items: center;
    text-align: center;
    min-width: 100%; 
    min-height: 100%;
}


.ife-nav{
  position: fixed; 
  top: 0;
  z-index:2;
  color: white;
  width: 100vw;
  background-color: black;
}
.logo{
  height: 5vh;
  width:auto;
}

.wrap{ 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow:auto;
  height:93vh;
  width:100vw;
  z-index: 100;
  position: absolute;
  z-index: 100

}

.fleft{
  float:left; 
  width:55%;
  height:100%;
}

.fright{
  float: right;
  width:45%;
  height:100%;
  z-index: 55;
  color: white;
}


.homepg {
    width:100%;
    height:100%;
}


@font-face {
    font-family:"masthead_font";
    src: url(../fonts/KGHAPPY.ttf) format("truetype");
}

.masthead-row-one
{
  color: #00CC99;
  height: 20%;
  text-align: center;
  font-family: "masthead_font";
  font-size:10vh;
  background-color: #f2f2f2;
  grid-row: 1;
  vertical-align: center;
}

.masthead-row-two
{
  color:#fff;
  height: 20%;
  text-align: center;
  font-family: "masthead_font";
  font-size:10vh;
  background-color:rgb(128, 214, 192);
  grid-row: 2;
}


.masthead-row-three
{
  color: #fff;
  height: 20%;
  text-align: center;
  font-family: "masthead_font";
  font-size:10vh;
  background-color:#00CC99;
  grid-row: 3;
}

.masthead-row-four
{
  color: #fff;
  height: 5%;
  text-align: center;
  font-family: "masthead_font";
  font-size:3vh;
  background-color:#0000cc;
  grid-row: 3;
}

@font-face {
    font-family:"code_font";
    src: url(../fonts/code_font.ttf) format("truetype");
}

.slide-1
{
  font-family: "code_font";
  font-size:10vh;
  width:100%;
  height:35%;
  text-align: center;
  line-height: 150%;
  vertical-align:center;
  color:#fff;
  background-color:#5200cc;  
}

@font-face {
    font-family:"goofy";
    src: url(../fonts/goof.ttf) format("truetype");
}

.slide_2{
  font-family:"goofy";
  font-size:10vh;
  width:100%;
  height:35%;
  text-align: center;
  line-height: 200%;
  vertical-align:center;
  color:#00CC99;
  background-color:rgb(105,105,105);  

}

@font-face {
    font-family:"fancy";
    src: url(../fonts/fancy.ttf) format("truetype");
}


.slide_3{
  font-family: "fancy";
  font-size:10vh;
  width:100%;
  height:35%;
  text-align: center;
  line-height: 150%;
  vertical-align:center;
  color:#fff;
  background-color:#cc0000;  
}

@font-face {
    font-family:"pops";
    src: url(../fonts/pops.ttf) format("truetype");
}

.slide_4{
  font-family: "pops";
  font-size:10vh;
  width:100%;
  height:35%;
  line-height: 200%;
  text-align: center;
  vertical-align:center;
  color:#73e600;
  background-color:rgb(105,105,105);
}
